mongo:
  ip_server:  127.0.0.1
  port_server: 27017
  user: measurex
  password: ${password}
  db_name: measurex
  measurements_collection_name: measurements
  results_collection_name: results
  contexts_collection_name: contexts